extends layout

block content
  img(src="https://yt3.ggpht.com/-R0oDfWqfWt8/AAAAAAAAAAI/AAAAAAAAAAA/95CYHzAWiQM/s100-c-k-no-mo-rj-c0xffffff/photo.jpg" alt="IMG Creator" style="width:10%")
  br
  br
  
  img(src="http://i.imgur.com/VXYQ98C.jpg" alt="Robot Arm" style="width:50%")
  br
  br
  br
  a.btn-on(href="./forward") Forward
  a.btn-on(href="./backward") Backward
  br
  br
  br
  a.btn-on(href="./left") Clockwise
  a.btn-on(href="./right") Anti-Clockwise
  br
  br
  br
  a.btn-on(href="./claw") Toggle Claw
  a.btn-on(href="./reset") Reset Position
